POSTGRES_DB=f_db
POSTGRES_USER=finance_db_admin
POSTGRES_PASSWORD=fi4378hs@11-2..!
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SECRET_KEY=django-insecure-$3x!2e86+33eaoq+s=p8k+w8i++14-d-lg%$tw$5m99m0u8f38
