POSTGRES_DB=f_db
POSTGRES_USER=finance_db_admin
POSTGRES_PASSWORD=fi4378hs@11-2..!
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

BREVO_API_KEY=get_api_key_from_brevo

SECRET_KEY=generate_a_random_length_30_string_for_this_value
CHAPA_PRIVATE_KEY=get_chapa_key
